<%- include('../_layout/header') %> 
<style>
  h1{
    font-size: 50px;
    color: black;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  #chartContainer{
    margin-top: 10px;
    margin-bottom: 50px;
  }
  #chartContainer2{
    border: 5px solid black;
  }
  #chartContainer3{
    border: 5px solid black;

  }
  .tableContainer{
    display: flex;
    flex-direction: column;
  }
  .border{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  .border p{
    width: 45%;
  }
  </style>
<h1>Dashboard</h1>

  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>


<script>
  
    var dataPoints =[]
      <% ideas.forEach(function(i, index){ %>
			dataPoints[<%= index %>] = { label: "<%- i.title %>" , y: <%= i.viewBy.length %>  },
            <% }) %>
    
 
    dataSample =[]
    for (let step = 0; step < 12; step++) {
      dataSample[step] = {x: new Date(2022,step), y: 0}
    }
  
    <% ideasPerMonth.forEach(function(i, index){ %> 
		dataSample[<%= i._id.month-1 %>] = {x: new Date(2022,<%= i._id.month-1 %> ), y: <%= i.count %>},
    <% }) %> 
   console.log(dataSample)
   let submittedPercent = <%= (submittedUsers / allUsers)*100 %>
   console.log(submittedPercent)
    window.onload = function () {
//Bar chart
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "view and ideas"
	},
	axisY: {
		title: "View",
	},
	axisX: {
		title: "Ideas"
	},
	data: [{
		type: "column",
		dataPoints: dataPoints
	}]
});
chart.render();
Pusher.logToConsole = true;
    var pusher = new Pusher('85799a5c5f03a3fc1967', {
      cluster: 'ap1'
    });
    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      dataPoints = dataPoints.map(x =>{
          if(x.label == data.os){
              x.y += data.points;
              return x
          }else{
            return x
          }
      });
    chart.render()
    });
    var channel = pusher.subscribe('my-channel1');
    channel.bind('my-event1', function(data) {
        dataPoints.push( {label: data.os , y: 0})
        chart.render()
    });
//line chart
     var chart2 = new CanvasJS.Chart("chartContainer2",
    {
      title:{
        text: "Number of Contribution per month in 2022"
    },
    axisX:{
        title: "Months",
        gridThickness: 1,
        valueFormatString: "MMMM"
    },
    axisY: {
        title: "Ideas"
    },
    data: [
    {        
        type: "line",
        dataPoints: dataSample
    }
    ]
});
    chart2.render();
//Pie Chart
var chart3 = new CanvasJS.Chart("chartContainer3", {
	animationEnabled: true,
	title: {
		text: "Percentage of Staff with at least 1 contributes with total Staffs",
    fontSize: 25,
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: submittedPercent, label: "Contributed Staffs"},
			{y: 100-submittedPercent, label: "Non Contributed Staffs"},
		]
	}]
});
chart3.render();
}
   
</script>

<div class="tableContainer">
  <div class="border">
    <div id="chartContainer2" style="height: 400px; width: 50%; display:inline; float: left"></div>
    <p>Contribution per unit is the residual profit left on the sale of one unit, after all variable expenses have been subtracted from the related revenue. This information is useful for determining the minimum possible price at which to sell a product. In essence, never go below a contribution per unit of zero; you would otherwise lose money with every sale. The only conceivable reason for selling at a price that generates a negative contribution margin is to deny a sale to a competitor.</p>
  </div>
  <div class="border">
    <div id="chartContainer3" style="height: 400px; width: 50%; float: right; display:inline"></div>
    <p>Employee labor percentage, more commonly called the cost of labor percentage, states the overall payroll expenditure for a business as a proportion of gross sales. Payroll is a major expense for any firm, and in some industries, it is the largest cost. Tracking employee labor percentage is especially important for the small business owner, because it is a key metric she must know so she can identify problems and opportunities to capture payroll cost savings.</p>
  </div>
  
  
</div>
<h1>View and Idea</h1>
<div id="chartContainer" style="height: 400px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>


<%- include('../_layout/footer')  %> 