<%- include('_layout/header') %>

<style>
  .bodyConatainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
  }
  .pt-5 p {
    font-size: 50px;
    color: black;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    margin-left: 10%;
  }
  .pt-5{
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .viewContainer{
    width: 100%;
    height: 20px;
    border-radius: 10px;
  }
</style>

<div class="pt-5">
  <p>List Idea</p>
  <div class="bodyConatainer">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Sort by
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/list_ideas/1?sort=mostviews"
          >Most views</a
        >
        <a class="dropdown-item" href="/list_ideas/1?sort=mostlikes"
          >Most likes</a
        >
        <a class="dropdown-item" href="/list_ideas/1?sort=mostcomments"
          >Most comments</a
        >
        <a class="dropdown-item" href="/list_ideas/1?sort=mostdislikes"
          >Most dislikes</a
        >
        <a class="dropdown-item" href="/list_ideas/1?sort=recentidea"
          >Newest idea</a
        >
      </div>
    </div>
    <div class="contentContainer">
      <% if(ideas !='' ){%> <% ideas.forEach(function(idea, index){ %>
      <li class="viewContainer">
        <div class="viewLeft">
          <h5>
            <a href="/idea_detail/<%= idea._id %>"> <%= idea.title %> </a>
          </h5>
        </div>
        <div class="viewRight">
          <i class="bi bi-hand-thumbs-up"> <%- idea.numberOfLikes %> </i>
          <i class="bi bi-hand-thumbs-down"> <%- idea.numberOfDislikes %> </i>
          <i class="bi bi-eye"> <%- idea.numberOfViews %> </i>
          <i class="bi bi-chat-dots"> <%- idea.numberOfComments %> </i>
        </div>
      </li>
      <% }) %> <% } %>
    </div>

    <!-- pagination -->
    <div class="row">
      <% if(pages> 0) { %>
      <nav class="mx-auto">
        <ul class="pagination" style="margin-top: 2rem">
          <!-- FIRST ITEM -->
          <% if(current==1) { %>
          <li class="page-item disabled">
            <a class="page-link" href="/">First</a>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/list_ideas/1<%= sort %>">First</a>
          </li>
          <% } %>

          <!-- ITEMS  -->
          <% var i=(Number(current)> 3 ? Number(current) - 2 : 1) %> <% if(i
          !==1) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
          </li>
          <% } %> <% for(; i <=(Number(current) + 2) && i <=pages; i++) { %> <%
          if(i==current) { %>
          <li class="page-item active">
            <a class="page-link" href="/list_ideas/<%= i %><%= sort %>">
              <%= i %>
            </a>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/list_ideas/<%= i %><%= sort %>">
              <%= i %>
            </a>
          </li>
          <% } %> <% if (i==Number(current) + 2 && i < pages) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
          </li>
          <% } %> <% } %>

          <!-- LAST ITEM -->
          <% if(current==pages) { %>
          <li class="page-item disabled">
            <a class="page-link" href="#"> Last </a>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/list_ideas/<%= pages %><%= sort %>">
              Last
            </a>
          </li>
          <% } %>
        </ul>
      </nav>
      <% } %>
    </div>
  </div>
</div>

<%- include('_layout/footer') %>
